*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}




/* ---------------------------------- bottom navbar style ends here ------------------------------------------ */

/* ---------------------------------- body style starts here ------------------------------------------ */




/* ------------- Steps Section ------------  */
#outer-body{
    /* border: 1px solid blue; */
    margin: 20px 2px;
}

#top-section{
    margin: auto;
    text-align: center;
    height: 30px;
    width: fit-content;
    /* border: 1px solid red; */
}
#top-section > div {
    margin: auto;
    display: flex;
}
.circle{
    margin: 0 5px;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    color: white;
    background-color: black;
}
#top-section > div > div:last-child{
    background-color: white;
    color: black;
}

.horizontal-gap-line{
    margin: 0 5px;
    text-align: center;
    background-color: #fff;
    color: #333;
    height: 15px;
    width: 100px;
    border-bottom: 1px solid #c8c8c8;
}

#bottom-section {
    margin: auto;
    width: fit-content;
    display: flex;
    margin-top: 5px;
    /* border: 1px solid red; */
}
.steps {
    display: block;
    font-size: 14px;
    line-height: 19.88px;
    text-align: center;
    height: 19.87px;
    width: 150px;
}
/* --------------------------------------------- */
#heading{
    text-align: center;
    width: 90%;
    margin: 40px auto;
    /* border: 1px solid green;*/
}

h1 {
    padding: 10px 65px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.49998px;
    line-height: 33px;
    /* text-align: left; */
}

hr {
    border: none;
    height: 0.5px;
    background-color: rgb(181, 181, 181);
}
#main-container {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px dashed green; */
}


#left-section {
    /* border: 1px solid red; */
    width: 65%;
    
}
#left-input-section {
    padding: 12px;
}
#left-input-section > h3{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.32px;
    line-height: 22.4px;
}

form{
    /* border: 1px solid red; */
    padding: 10px 5px;
}

.input-group {
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    /* border: 1px dashed blue; */
}

.input-box {
    width: 100%;
    margin-right: 10px;
}

.input-box .userInput {
    padding: 12px 10px; 
    width: 100%;
}

#delivery-section{
    width: 75%;
    /* border: 1px solid red; */
    padding: 10px 5px;
    margin-bottom: 20px;
}
#delivery-section > h4 {
    font-size: 11.7px;
    font-weight: 700;
    line-height: 16.38px;
}
.delivery-type {
    position: relative;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}
.delivery-type label{
    font-size: 14px;
    line-height: 25.1999px;
}
.delivery-type span {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.88px;
}


#continue-payment-section p{
    color: #707070;
    font-size: 13px;
    line-height: 18.46px;
}
#continue-payment-section p:nth-child(2){
    margin-bottom: 20px;
}

#continue-payment-section button{
    font-size: 18.66px;
    font-weight: 700;
    line-height: 18.66px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    height: 46.6562px;
    width: 386.891px;
    margin: 0 0 13px 0;
    padding: 13px;
    border: 1px solid white;
    /* display: block; */
    cursor: pointer;
    background-color: #008FDB;
    color: #fff;
}
#continue-payment-section button:hover{
    background-color: #0081c6;
}
#continueBtn{
    text-decoration: none;
}
#continueBtn:link{
    color: white;
}
 /* ----------  RIGHT SECTION CSS------- */
#right-section {
    width: 35%;
    /* border: 2px solid black; */
    padding: 12px;
}

#purchase-summary {
    /* width: 100%; */
    padding:20px;
    margin-bottom: 15px;
    background-color: #f2f2f2;
}
#purchase-summary p {
    font-size: small;
    font-weight: 100;
}

.info-group {
    padding: 8px;
}

#bag-item-count hr{
    margin: 6px 0;
}
#bag-item-count p {
    font-size: small;
    font-weight: 100;
}

#coupon-section {
    display: none;
    margin: 8px 2px;
}
#coupon-apply-btn {
    width: 25%;
    color: #0081c6;
    border: 1px solid #0081c6;
}

#enter-coupon-code {
    display: flex;
    justify-content: space-between;
}
#enter-coupon-code:hover{cursor: pointer;}


/* ---------------- Footer part ----------------- */

#twenty{
    display: flex;
    margin-top: 500px;
    width: 90%;
    margin: auto;
    gap: 3px;
    font-size: 13px;
   
}
#twenty>div:hover{
    background-color: #000000;
}
#twenty i{
    font-size: 40px;
    margin-left: 10px;
}
#twenty>div{
    display: flex;
    gap:15px;
    padding:20px 20px 5px 20px;
    background-color: #333;
    color: white;
}
#twenty p{
    margin-top: 10px;
}
#footer1{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
}
#footer1>div:nth-child(1)>div{
    display: flex;
}
#footer1 img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
}
#footer1 p{
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer1>div:nth-child(2)>div{
    display: flex;
}
#footer1 strong{
    padding-top: 10px;
    margin-bottom: 10px;
}
#footer1 a{
    color: black
}
#footer1>div:nth-child(2) img{
    width: 60px;
    height: 60px;
    padding-right: 10px;
}
#footer1>div:nth-child(1){
    width: 22%;
}
#footer1>div:nth-child(2){
    width: 25%;
}
#footer1 input{
    height: 40px;
    width: 200px;
    margin-top: 20px;
}
#line{
    width: 83%;
    margin: auto;
    margin-top: 10px;
    color: #4242421a;
}
#footer2{
    margin: auto;
    margin-top: 30px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    /* border: 1px solid red; */
}
#footer2>div{
    display: flex;
}
#footer2 img{
    width: 28px;
    height: 28px;
}
#footer2>div:last-child{
    gap: 20px;
}
#footer2>div:nth-child(1){
    gap: 20px;
}
#footer2 p{
    margin-bottom: 20px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
#footer2>div:nth-child(2){
    aspect-ratio: 3/2;
    object-fit: contain;
    margin-top: 10px;
}
#footer2>div:nth-child(2) i{
    font-size: 30px;
    color: #424242b0;
}