* {
    font-family: system-ui;
}

body {
    height: 200%;
    width: 200%;
    overflow-x: hidden;
}

#main {
    width: 100%;
}

.sidebar {
    width: 200px;
    position: fixed;
    top: 20px;
    left: 10px;
    bottom: 0;
    overflow: auto;
    margin-left: 80px;
}
h4{
    margin: 30px 0px 5px 0px;
    padding: 0;
}
.category-div > span{
    font-size: 12px;
    color: rgb(49, 49, 49);
}
.content{
    position: absolute;
    left: 320px;
    width: 1080px;
     
}
.content-sales-div{
    display: flex;
}
.content-sales-div > div{
    border: 1px solid  grey;
    min-height: 130px;
    min-width: 212px;
    text-align: center;
    padding-top: 60px;
    margin: 20px;
}
#card-div{
    height: 300px;
    width: 95%;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
#card-div > img{
    height: 100%;
    width: 100%;
     
}
#banner-div{
 height: 280px;
 width: 94%;
 border: 1px solid;
 margin-top: 70px;
  
}
#banner-div>img{
    height: 100%;
    width: 100%;
}