*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#heading{
    width: 90%;
    margin: auto;
    /* border: 1px solid green;    */
}

h1 {
    padding: 10px 65px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.49998px;
    line-height: 33px;
    text-align: left;
}

#main-container {
    /* width: 90%; */
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    /* border: 1px solid blue; */
}

hr {
    border: none;
    height: 0.5px;
    background-color: rgb(181, 181, 181);
}
a {
    color: black;
}
/* ---------- LEFT SECTION -------------- */
#left-section {
    width: 60%;
    padding: 15px;
    /* border: 1px solid red; */
}
.cart hr {
    margin-top: 10px;
}
#table-head {
    /* border: 1px solid red; */
    width: 100%;
    text-align: left;
    font-size: medium;
    font-weight: 100;
    padding: 10px;
}
#remove-all {
    padding-left: 10px;
    background-color: transparent;
    border: 0;
    text-decoration: underline;
}
#remove-all:hover {cursor: pointer;}

.products {
    padding: 10px;
    display: flex;
    /* justify-content: space-evenly; */
}
.products div > div{
    width: fit-content;
    height: fit-content;
}
.products div:nth-child(1){
    width: 180px;
}
.products div:nth-child(2){
    height: 150px;
    width: 230px;
    padding: 0 13px 0 7px;
    min-height: auto;
}
.products div:nth-child(3){
    display: flex;
    width: 150px;
    padding: 0 13px 0 7px;
    min-height: auto;
    max-width: 16.66%;
}
.products div:nth-child(4){
    display: flex;
    width: 150px;
    padding: 0 13px 0 7px;
    min-height: auto;
    max-width: 16.66%;
}
.products div:nth-child(5){
    text-align: right;
    width: 90px;
    padding: 0 13px 0 7px;
    min-height: auto;
    max-width: 16.66%;
}
.products div:nth-child(5) > a{
    width: 20px;
    height: 20px;
    text-align: right;
    display: inline-block;
    vertical-align: bottom;
}
.products  p{
    font-size: small;
    line-height: 20.8px;
    text-align: left;
}
.qty-btn{
    display: flex
}
i:hover {cursor: pointer;}

/* --------------RIGHT SECTION------------- */
#right-section {
    width: 30%;
    /* border: 2px solid black; */
    padding: 12px;
}

#promo{
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 20px;
}
#promo p {
    font-size: small;
    font-weight: 100;
}

#purchase-summary {
    /* width: 100%; */
    padding:20px;
    margin-bottom: 15px;
    background-color: #f2f2f2;
}
#purchase-summary p {
    font-size: small;
    font-weight: 100;
}

.info-group {
    padding: 8px;
}
.delivery-type {
    position: relative;
    padding: 2px;
    margin: 5px 2px;
    display: flex;
    justify-content: space-between;
}

#bag-item-count hr{
    margin: 6px 0;
}
#bag-item-count p {
    font-size: small;
    font-weight: 100;
}

#coupon-section {
    display: none;
    margin: 8px 2px;
}
.info-group p:first-child:hover {
    text-decoration: underline;
}
#coupon-apply-btn {
    width: 25%;
    color: #0081c6;
    border: 1px solid #0081c6;
}
#enter-coupon-code {
    display: flex;
    justify-content: space-between;
}
#enter-coupon-code:hover{cursor: pointer;}


#additional-offers {
    /* border: 1px solid red; */
    padding: 6px;
    margin-top: 30px;
}
#additional-offers  div {
    padding: 3px;
    display: flex;
    justify-content: space-between;
}


#continue-payment-section {
    width: fit-content;
    margin: auto;
    /* border: 1px solid red; */
}
.continue-to-payment-btn{
    font-size: 18.66px;
    font-weight: 700;
    line-height: 18.66px;
    text-align: center;
    text-transform: uppercase;
    /* vertical-align: middle; */
    height: 46.6562px;
    width: 100%;
    margin: 0 0 13px 0;
    padding: 13px;
    border: 1px solid white;
    display: block;
    cursor: pointer;
    background-color: #008fdb;
    color: #fff
}
.continue-to-payment-btn:nth-child(2){
    background-color: #b2fce4;
}
.continue-to-payment-btn:nth-child(3){
    background-color: #fff;
    color: black;
}
.continue-to-payment-btn:nth-child(3):hover {
    color: #0081c6;
}
.continue-to-payment-btn:nth-child(4){
    display: none;
    background-color: #f4b3c7;
    text-transform:capitalize;
    color: black;
}
.continue-to-payment-btn:nth-child(5){
    display: none;
    background-color: #fff;
}

#show-less-opt{
    display: none;
    text-align: center;
    font-size: small;
    font-weight: 100;
}
a:link {
    color:black;
}